.main {
  flex-wrap: wrap;
  .content {
    width: 200px;
    height: 180px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 8px 0px black;

    .images {
      display: block;
      width: 140px;
      height: 140px;
      margin: auto;
    }
    .name {
      text-align: center;
      padding-top: 5px;
    }
    .price {
      text-align: center;
      color: rgba(165, 122, 42, 0.89);
    }

    .buy {
      margin-left: 75px;
      border: none;
      background-color: orange;
      color: white;
    }

    &:hover {
      transform: translateY(-5px);
    }
  }
}
