* {
  box-sizing: border-box;
}

.main {
 
  width: 100%;
  background-color: rgb(145, 103, 103);
  width: 100wh;
  height: 100vh;

  header {
    display: flex;
    height: 150px;
  

    .circle {
      width: 70px;
      height: 70px;
      background-color: red;
      border-radius: 50px;
      margin-top: 20px;
      margin-left: 200px;
      position: relative;
      animation-name: white-circle;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    @keyframes white-circle {
      0% {
        left: 0px;
      }
      50% {
        border-radius: 0px;
      }

      100% {
        left: 1000px;
      }
    }
    :hover .circle {
      animation-play-state: paused;
    }
  }
  main {
    
    height: 100%;

    .textAndButton {
      display: flex;

      .text {
        width: 500px;
        text-align: center;
        margin-left: 500px;
        font-size: 20px;
        color: white;
        
      }

      .buttonDiv {
     
        margin-left: 0px;
        padding-top: 70px;

        .link {
          color: white;
        }
      }
    }

    .profileDiv {
      width: 100%;
    

      .imageProfile {
        margin-left: 500px;
        width: 500px;
        height: 400px;
        border-radius: 50px;
      }
    }

    .formDiv {
      margin-top: 10px;
      
    }

    form {
     
      width: 400px;
      height: 80px;
      margin: auto;
      padding-left: 100px;

      .input1 {
        width: 200px;
        border-radius: 10px;
        padding-left: 5px;
        border: 2px solid gold;
      }

      .buttonAuth {
        margin-top: 3px;
        width: 50px;
        border-radius: 3px;
        background-color: brown;
        border: none;
        margin-left: 75px;
      }
    }
  }
}
