.main {
  width: 100%;
  height: 100px;
  text-align: center;

  display: flex;
  padding-left: 145px;

  .buttonBasketClose {
    width: 230px;
    height: 50px;

    border: 2px solid red;
    margin-top: 600px;
    margin-left: -200px;

    .buttonBasketClose2 {
      border: none;
      background-color: orange;
      width: 160px;
      height: 40px;
      border-radius: 50px;
      position: absolute;
      margin-left: -80px;
    }
  }

  .image {
    width: 70px;
    height: 70px;
    background-color: brown;
    padding: 0%;
  }
  .divForBasketAndButtonClose {
  }

  .basketButton {
    border: none;
    background-color: orange;
    border-radius: 15px;
    margin-left: 80px;
  }
  .basket {
    margin-top: 0px;
    width: 40px;
    height: 40px;
  }

  .one {
    margin-left: 80px;
    margin-top: 10px;
    &:hover {
      transform: translateY(10px);
    }
  }

  .two {
    margin-left: 80px;
    margin-top: 10px;
    &:hover {
      transform: translateY(10px);
    }
  }
  .three {
    margin-left: 80px;
    margin-top: 10px;
    &:hover {
      transform: translateY(10px);
    }
  }
  .four {
    margin-left: 80px;
    margin-top: 10px;
    &:hover {
      transform: translateY(10px);
    }
  }
  .five {
    margin-left: 80px;
    margin-top: 10px;
    &:hover {
      transform: translateY(10px);
    }
  }
  .six {
    margin-left: 80px;
    margin-top: 10px;
    &:hover {
      transform: translateY(10px);
    }
  }
}
.hr {
  width: 1150px;
  opacity: 0.43;
}
